@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #353940;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.fill-height {
  max-height: calc(100vh - 180px);
}
/* var(--navbar-height) */

body {
  min-height: 100vh;
}

@font-face {
  font-family: 'Nunito-Medium';
  src: url('/fonts/Nunito-Medium.ttf') format('truetype');
  /* Add more font formats for cross-browser compatibility */
}

.nunito-text {
  font-family: 'Nunito-Medium', sans-serif;
}

.grid-item {
  background-color: #ccc;
  padding: 16px;
  text-align: center;
}

.arrow-button {
  padding: 8px 16px;
}

.arrow-button.left {
  grid-column-start: 1;
}

.arrow-button.right {
  grid-column-start: 4;
}